/* #region Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #22343d;
  background-color: #fff;
}

/* #endregion */

/* #region Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  display: block;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

summary {
  list-style: none;
}
/* #endregion */

/* #region Common */
.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
.row-reverse {
  flex-direction: row-reverse;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.hide {
  display: none;
}
/* #endregion */

/* #region Header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 237px;
}
.nav-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-logo-img {
  width: 39px;
  height: 36px;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-list-item {
}
.nav-list-link {
  display: block;
  padding: 26px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link.current {
  font-weight: 600;
}
.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active {
  color: #01675b;
}

.header-list-btn {
  display: flex;
  gap: 21px;
}
.header-item-btn {
}
.header-btn {
  width: 105px;
  height: 42px;

  font-size: 16px;
  font-weight: 600;
  color: #173a56;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bcd0e5;

  transform: scale(1);
  transition: transform 0.15s ease, color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn:hover {
  color: #fff;
  background-color: #02897a;
}
.header-btn:active {
  color: #fff;
  background-color: #027a6b;
  box-shadow: inset 0 2px 4px rgba(0, 4, 4, 0.287);
  transform: scale(0.96);
}
.header-btn:focus {
  color: #fff;
  background-color: #02897a;
}
/* .sing-in {
  width: 105px;
  height: 42px;
  color: #173a56;
  background-color: #fff;
  border: 1px solid #bcd0e5;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
} */

/* .sing-in:hover,
.sing-in:focus,
.sing-in:active {
  background-color: #02897a;
  color: #fff;
} */

/* .sing-up {
  width: 113px;
  height: 42px;
  color: #fff;
  background-color: #02897a;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, border;
}
.sing-up:hover,
.sing-up:focus,
.sing-up:active {
  color: #02897a;
  background-color: #fff;
  border: 1px solid #02897a;
} */
/* #endregion */

/* #region Price */
.price {
  padding: 50px 0 150px;
}
.price-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 24px;

  text-align: center;
  text-transform: uppercase;
}
.price-slogan {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.price-text {
  margin-bottom: 49px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.price-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}
.price-list-card {
  width: calc((100% - 2 * 72px) / 3);
  min-height: 456px;
  padding: 32px 67px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.price-list-card-accent {
  color: #fff;
  background-color: #02897a;
}
.price-card-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
}
.price-card-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
}
.card-cost {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 7px;
}
.card-cost-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.price-cost-value {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.price-cost-currency {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.price-cost-period {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-cost-accent {
  color: #fff;
}
.price-period-accent {
  color: #e0e0e0;
}
.price-cards-benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
.benefits-item {
}
.benefits-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
}
.price-order-btn {
  min-width: 139px;
  height: 44px;
  padding: 11px 18px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  background-color: #02897a;
}
.price-order-btn-accent {
  color: #02897a;
  background-color: #fff;
}

/* }
.price-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}
.price-list-card {
  width: calc((100% - 2 * 72px) / 3);
  min-height: 456px;
  padding: 24px 0 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.price-list-card-accent {
  color: #fff;
  background-color: #02897a;
}
.price-card-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
}
.price-card-text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
}
.card-cost {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 7px;
}
.card-cost-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.price-cost-value {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.price-cost-currency {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.price-cost-period {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-cost-accent {
  color: #fff;
}
.price-period-accent {
  color: #e0e0e0;
}
.price-cards-benefits {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.benefits-item {
}
.benefits-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
}
.price-order-btn {
  min-width: 139px;
  height: 44px;
  padding: 11px 18px;

  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  background-color: #02897a;
}
.price-order-btn-accent {
  color: #02897a;
  background-color: #fff;
} */

/* #endregion */

/* #region Enterprise */
.enterprise {
  padding: 53px 0 51px;
  background-image: linear-gradient(
    180deg,
    #f6f6f6 0%,
    rgba(246, 246, 246, 0) 100%
  );
}
.enterprise-title {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.enterprise-slogan {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 34px;
  text-align: center;
}
.enterprise-text {
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.enterprise-btn {
  min-width: 224px;
  height: 44px;

  margin: 0 auto;
  padding: 11px 18px;

  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  background-color: #02897a;
}
/* #endregion */

/* #region Effects */
.effects {
  padding: 150px 0 75px;
}
.effects-title {
  margin-bottom: 56px;

  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}
.effects-wrap {
  display: flex;
  align-items: center;
  gap: 60px;
}
.effects-img {
  width: 528px;
}
.effects-wrap-list {
}
.effects-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.effects-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.effects-item-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 14px;
}
.effects-svg-bgr {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  background-color: #f4f5f7;
  border: none;
  border-radius: 100px;
}
.effects-item-icon {
}
.effects-item-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
}
.effects-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
/* #endregion */

/* #region Question */
.question {
  padding: 75px 0;
  margin: 0 auto;
}
.question-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 34px;
  text-align: center;
}
.question-text {
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.question-item {
  width: 920px;
  height: 49px;
  padding: 0 0 22px;
  margin-bottom: 0;

  position: relative;
  cursor: pointer;

  border-bottom: 1px solid #e7e7e7;
}

.question-item-ask {
  margin-bottom: 14px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;

  font-weight: 500;
  font-size: 18px;
  color: #22343d;
}
.question-item-icon {
}
.question-item-respond {
  font-weight: 400;
  font-size: 16px;
}

/* #endregion */

/* #region Promo */
.promo {
  padding: 75px 0;
}
.promo-container {
  width: 968px;
  height: 345px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 60px;

  border-radius: 32px;
  background-color: #02897a;
}
.promo-content {
  padding: 47px 0 47px 51px;
}

.promo-content-slogan {
  max-width: 430px;
  margin-bottom: 46px;

  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #fff;
}
.promo-content-btn {
  width: 150px;
  height: 50px;

  font-weight: 600;
  font-size: 20px;
  color: #02897a;

  background-color: #fff;
  border-radius: 8px;

  transform: scale(1);
  transition: transform 0.25s ease, color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms ease-in-out,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.promo-content-btn:hover {
  color: #fff;
  background-color: #174b569d;

  outline: 2px solid #fff;
  transform: scale(1.05);
}
.promo-content-btn:active {
  color: #fff;
  background-color: #173a569d;
  outline: 2px solid #fff;
  box-shadow: inset 0 2px 4px rgba(0, 4, 4, 0.287);
  transform: scale(0.96);
}
.promo-content-btn:focus {
  color: #fff;
  background-color: #173a569d;
  transform: scale(1);
}
.promo-img {
  width: 410px;
}

/* #endregion */

/* #region Footer */
.footer {
  padding: 50px 0 40px;
}
.footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-soc {
  margin-right: 146px;
}
.footer-logo {
  margin-bottom: 18px;

  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.footer-logo-img {
  width: 39px;
  height: 36px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  background-color: #edfffc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:active,
.footer-social-link:focus {
  background-color: #02897a;
}
.footer-social-icon {
  stroke: #02897a;
  fill: transparent;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon:hover,
.footer-social-icon:active,
.footer-social-icon:focus {
  stroke: #fff;
}
.footer-content {
  margin-right: 129px;
}
.footer-content-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.footer-content-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer-content-item {
}
.footer-content-link {
  padding: 2px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
}

.footer-legal {
}
.footer-legal-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.footer-legal-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer-legal-item {
}
.footer-legal-link {
  padding: 2px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
}

.footer-sub {
  margin-left: auto;
}
.footer-sub-title {
  max-width: 260px;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-form-field {
}
.footer-form-label {
}
.footer-form-wrapper {
  position: relative;
}
.footer-form-input {
  min-width: 325px;
  height: 48px;
  padding: 0 43px;

  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #173a56;

  background-color: transparent;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid #bcd0e5;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input:hover,
.footer-form-input:active,
.footer-form-input:focus {
  outline: 2px solid #02897a;
}
.footer-form-input::placeholder {
  color: #02897a;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input:hover::placeholder,
.footer-form-input:focus::placeholder {
  color: #02897973;
}

.footer-form-icon {
  position: absolute;

  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: #02897a;
  pointer-events: none;
}
.footer-form-btn {
  width: 131px;
  height: 39px;

  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;

  background-color: #02897a;
  border-radius: 4px;

  transform: scale(1);
  transition: transform 0.25s ease,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover {
  background-color: #01a08d;
  transform: scale(1.05);
}
.footer-form-btn:active {
  background-color: #027a6b;
  box-shadow: inset 0 2px 4px rgba(0, 4, 4, 0.287);
  transform: scale(0.96);
}
.footer-form-btn:focus {
  background-color: #027a6b;
  transform: scale(1);
}
.footer-slogan {
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.8;
  color: #22343d;
}
/* #endregion */

/* #region MW */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;

  display: flex;

  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba(71, 94, 105, 0.5);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
/* #endregion */

/* #region SignIn MW */
.login-modal {
  width: 417px;
  padding: 50px 40px 30px;
  margin: 0 auto;

  top: 50%;
  left: 50%;

  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  background-color: #fff;

  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login-modal-close {
  width: 28px;
  height: 28px;
  padding: 0;

  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  color: #02897a;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #02897a;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login-modal-close:hover {
  background-color: #02897a;
}
.login-modal-close-icon {
  stroke: #fff;
  /* Не могу поменять цвет SVG, из-за этого не меняется Hover Эфект */
}
.login-modal-close-icon:hover {
}
.login-modal-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #02897a;
}
.login-modal-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-box {
  width: 100%;
  margin-bottom: 8px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-modal-form-label {
}
.login-modal-form-input {
  width: 100%;
  padding: 8px 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
  color: #22343d;

  border-radius: 4px;
  border: 1px solid #afafaf;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login-modal-form-input:focus {
  border: 1px solid #02897a;
}
.login-modal-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.01em;
  color: #afafaf;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login-modal-form-input:focus::placeholder {
  color: #02897984;
}
.login-modal-forgot {
  margin-bottom: 26px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.login-modal-forgot:hover,
.login-modal-forgot:focus,
.login-modal-forgot:active {
  color: #01544eb0;
}
.login-modal-form-btn {
  width: 100%;
  height: 45px;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #fff;

  background-color: #02897a;
  border-radius: 4px;

  transform: scale(1);
  transition: transform 0.15s ease,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login-modal-form-btn:hover {
  background-color: #01a08d;
}
.login-modal-form-btn:active {
  background-color: #027a6b;
  box-shadow: inset 0 2px 4px rgba(0, 4, 4, 0.287);
  transform: scale(0.96);
}
.login-modal-form-btn:focus {
  background-color: #027a6b;
}

.login-modal-signup {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.login-modal-signup-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;

  color: #03817da4;
}
.login-modal-signup-link:hover,
.login-modal-signup-link:focus,
.login-modal-signup-link:active {
  color: #01544eb0;
}
/* #endregion */

/* #region SignUn MW */
.signup-modal-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup-box {
  width: 100%;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* #endregion */

/* #region  */
/* #endregion */

/* #region  */
/* #endregion */
