/* #region Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #22343d;
  background-color: #ffffff;
}

/* #endregion */

/* #region Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion */

/* #region Common */

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* .section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
} */

/* #endregion */

/* #region Header */

.main-header {
}

.header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 237px;
}

.nav-logo {
  font-weight: 700;
  font-size: 30px;

  /* line-height: 28px; */
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-logo-img {
  width: 39px;
  height: 36px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list-item {
}
.nav-list-link {
  font-weight: 600;
  font-size: 16px;

  /* line-height: 28px; */
  line-height: 1.75;
  color: #22343d;
  display: block;
  padding: 26px 0;
}

.current {
  font-weight: 600;
}
.header-list-btn {
  display: flex;
  gap: 21px;
}
.header-item-btn {
}
.header-btn {
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}

.sing-in {
  width: 105px;
  height: 42px;
  color: #173a56;
  background-color: #fff;
  border: 1px solid #bcd0e5;
}

.sing-up {
  width: 113px;
  height: 42px;
  color: #fff;
  background: #02897a;
}
/* #endregion */

/* #region Hero */

.hero {
  padding: 25px 0 50px;
}
.hero .container {
  display: flex;
  align-items: center;
  gap: 26px;
}
.hero-wrap {
}
.hero-title {
  max-width: 385px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}

.hero-title-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  margin-bottom: 45px;
}

.hero-list-btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-list-item {
}

.hero-btn {
  border-radius: 4px;
  font-size: 16px;
}

.hero-btn-icon {
  border-radius: 2px;
  fill: currentColor;
  transition: fill 250ms ease-in-out;
}

.hero-btn-icon:hover,
.hero-btn-icon:focus {
  fill: currentColor;
}

.get-started {
  width: 178px;
  height: 53px;
  background: #02897a;
  font-weight: 700;

  color: #fff;
}

.watch-btn {
  width: 178px;
  height: 53px;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.watch-btn:hover,
.watch-btn:focus {
  background-color: #02897a;
  color: #fff;
}

.hero-img {
}

/* #endregion */

/* #region Specifically */

.specifically {
  padding: 50px 0 70px;
}

.specifically-title {
  max-width: 500px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: 0 auto 76px;
}

.specifically-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.specifically-item {
  width: calc((100% - 3 * 30px) / 4);
}

.spec-wrap {
  margin-bottom: 24px;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specifically-wrap-icon {
}

.specifically-item-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.specifically-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

.specifically-btn {
  display: block;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  text-transform: uppercase;
  margin: 0 auto;
}
.green {
  background: #02897a;
}
.blue {
  background: #4d8dff;
}
.fiolet {
  background: #740a76;
}
.red {
  background: #f03e3d;
}

.orangen {
  background-color: #ff9900;
}

/* #endregion */

/* #region Management */
.management {
  padding: 70px 0 50px;
}

.management .container {
  display: flex;
  align-items: center;
  gap: 84px;
}

.management-wrap {
}

.wrap-title {
  max-width: 304px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 32px;
}

.wrap-title-note {
  font-weight: 600;
  font-size: 16px;
}

.wrap-text {
  margin-bottom: 30px;

  line-height: 1.6;
}

.wrap-list {
}

.wrap-list-item {
  margin-bottom: 25px;
}

.list-item-title {
  margin-bottom: 12px;

  line-height: 1.6;
}

.list-item-text {
  line-height: 1.6;
}

.wrap-img {
  width: 540px;
  height: 500px;
}

/* #endregion */

/* #region Support */

.support {
  padding: 50px 0;
}

.support .container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 84px;
}

.support-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.support-item-wrap {
  border: none;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}
.support-wrap-icon {
}

/* #endregion */

/* #region Collaborative */

.collaborative {
  padding: 50px 0;
}

.collaborative .container {
  display: flex;
  align-items: center;
  gap: 84px;
}
/* #endregion */

/* #region Process */
/* #endregion */

/* #region Strategies */
/* #endregion */

/* #region Price */
/* #endregion */

/* #region Feedback */
/* #endregion */

/* #region Promo */
/* #endregion */
