/* #region Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #22343d;
  background-color: #ffffff;
}

body:has(.backdrop.is-open) {
  overflow: hidden;
}
/* #endregion */

/* #region Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  display: block;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region Common */

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
.row-reverse {
  flex-direction: row-reverse;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* #endregion */

/* #region Header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 237px;
}
.nav-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-logo-img {
  width: 39px;
  height: 36px;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-list-item {
}
.nav-list-link {
  display: block;
  padding: 26px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}
.current {
  font-weight: 600;
}
.header-list-btn {
  display: flex;
  gap: 21px;
}
.header-item-btn {
}
.header-btn {
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}
.sing-in {
  width: 105px;
  height: 42px;
  color: #173a56;
  background-color: #fff;
  border: 1px solid #bcd0e5;
}
.sing-up {
  width: 113px;
  height: 42px;
  color: #fff;
  background: #02897a;
}
/* #endregion */

/* #region Hero */

.hero {
  padding: 25px 0 50px;
}
.hero .container {
  display: flex;
  align-items: center;
  gap: 26px;
}
.hero-wrap {
}
.hero-title {
  max-width: 385px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}

.hero-title-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  margin-bottom: 45px;
}

.hero-list-btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-list-item {
}

.hero-btn {
  border-radius: 4px;
  font-size: 16px;
}

.hero-btn-icon {
  border-radius: 2px;
  fill: currentColor;
  transition: fill 250ms ease-in-out;
}

.hero-btn-icon:hover,
.hero-btn-icon:focus {
  fill: currentColor;
}

.get-started {
  width: 178px;
  height: 53px;
  background: #02897a;
  font-weight: 700;

  color: #fff;
}

.watch-btn {
  width: 178px;
  height: 53px;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.watch-btn:hover,
.watch-btn:focus {
  background-color: #02897a;
  color: #fff;
}

.hero-img {
}

/* #endregion */

/* #region Specifically */

.specifically {
  padding: 50px 0 70px;
}

.specifically-title {
  max-width: 500px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: 0 auto 76px;
}

.specifically-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.specifically-item {
  width: calc((100% - 3 * 30px) / 4);
}

.spec-wrap {
  margin-bottom: 24px;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specifically-wrap-icon {
}

.specifically-item-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.specifically-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

.specifically-btn {
  display: block;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  text-transform: uppercase;
  margin: 0 auto;
}
.green {
  background: #02897a;
}
.blue {
  background: #4d8dff;
}
.fiolet {
  background: #740a76;
}
.red {
  background: #f03e3d;
}

.orangen {
  background-color: #ff9900;
}

/* #endregion */

/* #region Management */
.management {
  padding: 70px 0 50px;
}

.management .container {
  display: flex;
  align-items: center;
  gap: 84px;
  justify-content: space-between;
}

.management-wrap {
}

.wrap-title {
  max-width: 304px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 32px;
}

.wrap-title-note {
  font-weight: 600;
  font-size: 16px;
}

.wrap-text {
  max-width: 430px;
  margin-bottom: 30px;

  line-height: 1.6;
}

.wrap-list {
}

.wrap-list-item {
  margin-bottom: 25px;
}

.list-item-title {
  margin-bottom: 12px;

  line-height: 1.6;
}

.list-item-text {
  max-width: 430px;
  line-height: 1.6;
}

.support-item-text {
  max-width: 370px;
}
.wrap-img {
  width: 540px;
  height: 500px;
}

/* #endregion */

/* #region Support */

.support {
  padding: 73px 0 50px;
}

.support .container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 84px;
}

.support-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.support-item-wrap {
  border: none;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}
.support-wrap-icon {
}

/* #endregion */

/* #region Collaborative */

.collaborative {
  padding: 60px 0 70px;
}

.collaborative .container {
  display: flex;
  align-items: center;
  gap: 84px;
}
/* #endregion */

/* #region Process */
.process {
  padding: 80px 0 50px;
}
.process-title {
  margin: 0 auto 25px;

  color: #22343d;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  text-align: center;
}
.process-text {
  max-width: 542px;
  margin: 0 auto 40px;

  color: #22343d;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}
.process-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px 91px;
  margin-bottom: 50px;
}
.process-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.process-item-img {
}
.process-item-text {
  min-width: 281px;
  height: 50px;
  padding: 14px 19px;
  display: inline-block;

  font-weight: 500;
  font-size: 16px;

  text-align: center;
  color: #2f281e;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}
.process-btn {
  min-width: 216px;
  height: 53px;
  padding: 14px 29px;
  display: block;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
}
/* #endregion */

/* #region Strategies */
.strategies {
  padding: 50px 0 71px;
}
.strategies-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 34px;
}
.strategies-text {
  max-width: 400px;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.strategies-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.strategies-list-item {
  width: calc((100% - 2 * 30px) / 3);
  outline: 1px solid #dedede;
  border-radius: 8px;
  /* width: 350px;
height: 359px; */
}
.strategies-list-img {
}
.strategies-content {
  padding: 24px 24px 40px;
}
.strategies-item-descr {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}
.bolt-text {
  font-weight: 700;
}
.strategies-item-title {
  margin-left: 3px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
}

.strategies-accent {
  color: #02897a;
}
/* #endregion */

/* #region Price */
.price {
  padding: 100px 0 50px;
}
.price-title {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 700;
  font-size: 34px;
}
.price-text {
  margin-bottom: 40px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
}
.price-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}
.price-list-card {
  width: calc((100% - 2 * 72px) / 3);
  min-height: 456px;
  padding: 32px 67px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.price-list-card-accent {
  color: #fff;
  background-color: #02897a;
}
.price-card-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
}
.price-card-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
}
.card-cost {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 7px;
}
.card-cost-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.price-cost-value {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.price-cost-currency {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.price-cost-period {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-cost-accent {
  color: #fff;
}
.price-period-accent {
  color: #e0e0e0;
}
.price-cards-benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
.benefits-item {
}
.benefits-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
}
.price-order-btn {
  min-width: 139px;
  height: 44px;
  padding: 11px 18px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  background-color: #02897a;
}
.price-order-btn-accent {
  color: #02897a;
  background-color: #fff;
}

/* #endregion */

/* #region Feedback */
.feedback {
  padding: 50px 0;
}

.feedback-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.78;
  letter-spacing: 0.01em;
  text-align: center;
}
.feedback-text {
  max-width: 430px;
  margin: 0 auto 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
}
.feedback-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 64px;
}
.clients-card {
  width: 327px;
  min-height: 240px;
  padding: 30px 35px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  border: 1px solid #dedede;
  border-radius: 5px;
}
.clients-stars-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3.6px;
}
.rating-star {
  fill: #f3cd03;
}
.clients-comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
}
.clients-daten {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 14px;
}
.clients-daten-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
}
.clients-img {
  width: 50px;
  height: 50px;
}
.clients-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.clients-category {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: #252b42;
}
/* #endregion */

/* #region Promo */
.promo {
  padding: 50px 0;
}
.promo-container {
  width: 968px;
  height: 345px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 32px;
  background-color: #02897a;
}
.promo-content {
  padding: 47px 0 47px 51px;
}

.promo-content-slogan {
  max-width: 430px;
  margin-bottom: 46px;

  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #fff;
}
.promo-content-btn {
  width: 150px;
  height: 50px;

  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  border-radius: 8px;
  background-color: #fff;
}
.promo-img {
  width: 351px;
}
/* #endregion */

/* #region Footer */
.footer {
  padding: 50px 0 40px;
}
.footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-soc {
  margin-right: 146px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.footer-logo-img {
  width: 39px;
  height: 36px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #edfffc;
}
.footer-social-icon {
  stroke: #02897a;
  fill: transparent;
}

.footer-content {
  margin-right: 129px;
}
.footer-content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.footer-content-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer-content-item {
}
.footer-content-link {
  padding: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
}

.footer-legal {
}
.footer-legal-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.footer-legal-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer-legal-item {
}
.footer-legal-link {
  padding: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
}

.footer-sub {
  margin-left: auto;
}
.footer-sub-title {
  max-width: 260px;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-form-field {
}
.footer-form-label {
}
.footer-form-wrapper {
  position: relative;
}
.footer-form-input {
  min-width: 325px;
  height: 48px;
  padding: 0 43px;

  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;

  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}
.footer-form-input::placeholder {
  color: #02897a;
}
.footer-form-icon {
  position: absolute;

  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;

  fill: #02897a;
}

.footer-form-btn {
  width: 131px;
  height: 39px;

  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #02897a;
}
.footer-slogan {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #22343d;
  text-align: center;
}
/* #endregion */

/* #region MW */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;

  display: flex;

  top: 0;
  left: 0;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba(71, 94, 105, 0.5);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
/* #endregion */

/* #region getstarted MW */
.getstarted-modal {
  min-width: 900px;
  max-height: 90vh;
  padding: 50px 40px;
  margin: 0 auto;
  position: absolute;
  overflow-y: auto;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 4px;
  background-color: #fff;
}
.backdrop:not(.is-open) .process-modal {
  transform: translateX(-50%) translateY(-50%);
}
.getstarted-modal-close {
  width: 34px;
  height: 34px;
  padding: 0;
  margin-left: auto;

  right: 399px;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* position: sticky; */
  position: fixed;
  z-index: 10000;

  color: #02897a;
  border-radius: 50%;
  border: 2px solid #02897a;
  background-color: #fff;
}

.getstarted-modal-close-icon {
  stroke: currentColor;
}
.getstarted-modal-info {
  margin-bottom: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.getstarted-modal-caption {
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 34px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  text-align: center;
  color: #252b42;
}
.getstarted-modal-text {
  max-width: 300px;
  margin-bottom: 35px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #374754;
}
.getstarted-modal-map {
  max-width: 871px;
  padding: 10px 0px;
  margin-top: 35px;
}
.getstarted-modal-wrap {
  width: 868px;
  min-height: 670px;
  padding: 52px 50px;

  border-radius: 20px;
  border: 1px solid #ddd;
}
.getstarted-modal-form-caption {
  margin-bottom: 45px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  letter-spacing: 0em;
  text-align: center;
  color: #252b42;
}
.getstarted-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.getstarted-modal-form-label {
}
.getstarted-modal-form-input {
  width: 100%;
  height: 54px;
  padding: 19px 20px;

  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.06;
  letter-spacing: 0.01em;
  color: #22343d;

  outline: none;
  border-radius: 39px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
}
.getstarted-modal-form-input::placeholder {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.06;
  letter-spacing: 0.01em;
  color: #22343d;
}
.getstarted-modal-form-message {
  width: 100%;
  height: 193px;
  padding: 23px 20px;

  resize: none;

  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.06;
  letter-spacing: 0.01em;
  color: #22343d;

  outline: none;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
}
.getstarted-modal-form-message::placeholder {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.06;
  letter-spacing: 0.01em;
  color: #22343d;
}
.getstarted-modal-form-btn {
  width: 145px;
  height: 52px;
  padding: 18px 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #fff;
  border-radius: 35px;
  background-color: #02897a;
}
/* #endregion */

/* #region SignIn MW */
.login-modal {
  width: 417px;
  padding: 50px 40px 30px;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  background-color: #fff;
}
.login-modal-close {
  width: 28px;
  height: 28px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  top: 24px;
  right: 24px;

  color: #02897a;
  border-radius: 50%;
  border: 2px solid #02897a;
  background-color: transparent;
}
.login-modal-close-icon {
  stroke: currentColor;
}
.login-modal-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #02897a;
}
.login-modal-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 25px; */
}
.login-box {
  width: 100%;
  margin-bottom: 8px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-modal-form-label {
}
.login-modal-form-input {
  width: 100%;
  padding: 8px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
  color: #22343d;
  outline: none;
}
.login-modal-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.login-modal-forgot {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #035b8158;
}
.login-modal-form-btn {
  width: 100%;
  height: 43px;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #fff;
  border-radius: 4px;
  background-color: #02897a;
}
.login-modal-signup {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #035b8158;
}
.login-modal-signup-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;

  color: #03817da4;
}
/* #endregion */

/* #region SignUn MW */
.signup-modal {
  width: 417px;
  padding: 50px 40px 30px;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  background-color: #fff;
}
.signup-modal-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #02897a;
}
.signup-modal-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup-box {
  width: 100%;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.signup-modal-form-label {
}
.signup-modal-form-input {
  width: 100%;
  padding: 8px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
  color: #22343d;
  outline: none;
}
.signup-modal-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.signup-modal-form-btn {
  width: 100%;
  height: 43px;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #fff;
  border-radius: 4px;
  background-color: #02897a;
}
.signup-modal-login {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #035b8158;
}
.signup-modal-login-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;

  color: #03817da4;
}

/* #endregion */
